

@import 'bootstrap';
$linkColor: #FF69d6;
body .main{
  padding-top: 10px;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-family: 'Cantarell', sans-serif;
  margin-top: 5%;

  
}

.multiple-rows
{
 columns: 2;
 -webkit-columns: 2;
    -moz-columns: 2;
 overflow: hidden;

}

.multiple-rowshome
{
 columns: 2;
 -webkit-columns: 2;
 -moz-columns: 2;


 overflow: hidden;
 
}

.homeborder
{

border-style: double;
}

.multiple-rowshome li
{
 
 padding: 5px;
 font-weight: bold;
 
}
.multiple-rows li
{
 list-style-type: none;
 padding: 5px;
 align: left;
}

.authors .parent .author
{
  float: left;
}


.answer 
{

 padding: 15px 20px;
 border-radius: 10px;
 border: 1px solid #bbb;
 
}

.answer:hover
{
 cursor: pointer;
}

.custombutton
{
 margin-right: 15px;
 margin-top: 10px;
 
}

.center-text
{
 text-align: center;
}

.democlass
{
margin: auto;
text-align: center;
font-family: 'Indie Flower', cursive;
}

.paginate
{
  margin: auto;
}

.border
{
    
    border: 2px black solid;
    margin-top: 25px;
    margin-bottom: 25px;
}




.notebook
{
 
 background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
 width: 100%;
 height: 300px;
 font: normal 14px verdana;
 line-height: 25px;
 padding: 2px 10px;
 border: solid 1px #ddd;

}

.marks
{
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    width: 45%;
    margin-left:40%;
    border-radius: 55%;
    border: solid 2px red;
}


.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 40pt;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
    -webkit-text-stroke: 1px orange;
}
/* Webkit-text-stroke is not supported on firefox or IE */

/* Firefox */
 @-moz-document url-prefix() {
    .full-stars {
        color: #ECBE24;
    }
}
/* IE */
 <!--[if IE]> .full-stars {
    color: #ECBE24;
}

footer{


background-color: black;
}
#developer-name
{
margin-top: 20px;
text-align: center;
color: red;

}
.socialiconscenter
{
display: flex;
align-items: center;
justify-content: center;
 width: 100%;
 

}
.list-unstyled {
        
	padding-left: 0;
	list-style: none;
}
/*.list-inline li {
	display: inline-block;
	
	
	margin-bottom: 20px;
	
}*/
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 

.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-flickr{background-color:#FF0084;}

.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;} 
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 

.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 

.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 

 
