

@import 'bootstrap';
$linkColor: #FF69d6;
body .main{
  padding-top: 10px;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-family: 'Cantarell', sans-serif;
  margin-top: 10%;

  
}

.multiple-rows
{
 columns: 2;
 -webkit-columns: 2;
    -moz-columns: 2;
 overflow: hidden;

}

.multiple-rowshome
{
 columns: 2;
 -webkit-columns: 2;
 -moz-columns: 2;


 overflow: hidden;
 
}

.homeborder
{

border-style: double;
}

.multiple-rowshome li
{
 
 padding: 5px;
 font-weight: bold;
 
}
.multiple-rows li
{
 list-style-type: none;
 padding: 5px;
 align: left;
}

.authors .parent .author
{
  float: left;
}


.answer 
{

 padding: 15px 20px;
 border-radius: 10px;
 border: 1px solid #bbb;
 
}

.answer:hover
{
 cursor: pointer;
}

.custombutton
{
 margin-right: 15px;
 margin-top: 10px;
 
}

.center-text
{
 text-align: center;
}

.democlass
{

text-align: center;
font-family: 'Indie Flower', cursive;
}

.paginate
{
  margin: auto;
}

.border
{
    
    border: 2px black solid;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 44pt;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
    -webkit-text-stroke: 1px orange;
}
/* Webkit-text-stroke is not supported on firefox or IE */

/* Firefox */
 @-moz-document url-prefix() {
    .full-stars {
        color: #ECBE24;
    }
}
/* IE */
 <!--[if IE]> .full-stars {
    color: #ECBE24;
}


.notebook
{
 
 background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
 width: 600px;
 height: 300px;
 font: normal 14px verdana;
 line-height: 25px;
 padding: 2px 10px;
 border: solid 1px #ddd;

}

.marks
{
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    width: 45%;
    margin-left:40%;
    border-radius: 55%;
    border: solid 2px red;
}